#canvas{
  border:1px solid #000000;
  position: absolute;
  top: 50%;
  left: 50%;
}
#player{
  border:1px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 300px;
  background-color: black;
}
